#calendar
  %a.new-schedule.btn.btn-success{ :href => "/new_schedule", :rel => "facebox" }= t('defaults.create_event')
  %p.time_zone_warning= "Tu zona horaria actual es #{current_user.time_zone}, la puedes cambiar editando tu perfil"
  %h2#month
    %p= l @date, :format => :long
    = link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01")
    = h l @date, :format => :month_year
    = link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01")
  = calendar_for(@schedules, :year => @date.year, :month => @date.month) do |t|
    = t.head(t('date.sunday'), t('date.monday'), t('date.tuesday'), t('date.wednesday'), t('date.thursday'), t('date.friday'), t('date.saturday'))
    = t.day(:day_method => :date) do |day, schedules|
      .each-day{ :data => { :date => day } }
        .day
          %p= day.day
        .events
          %ul.schedule-list
            - schedules.each do |schedule|
              %li
                %a.each-schedule{ :href => "/edit/#{schedule.id}", :rel => "facebox" }
                  %span.label.label-info= schedule.title