#calendar
  %a.new-schedule.btn.btn-success{ :href => "/new_schedule", :rel => "facebox" } Crear evento
  %p.time_zone_warning= "Tu zona horaria actual es #{current_user.time_zone}, la puedes cambiar editando tu perfil"
  %h2#month
    = link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01")
    = h @date.strftime("%B %Y")
    = link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01")
  = calendar_for(@schedules, :year => @date.year, :month => @date.month) do |t|
    = t.head('Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado')
    = t.day(:day_method => :date) do |day, schedules|
      .each-day{ :data => { :date => day } }
        .day
          %p= day.day
        .events
          %ul.schedule-list
            - schedules.each do |schedule|
              %li
                %a.each-schedule{ :href => "/edit/#{schedule.id}", :rel => "facebox" }
                  %span.label.label-info= schedule.title