.modal-header
  %h1 Crear evento
= form_tag(schedules_path, :method => 'post', :class => 'form-horizontal', :id => 'new-schedule') do |f|
  %fieldset
    .control-group
      %label.control-label{:for => "schedule_title"} Título
      .controls
        = text_field_tag 'schedule[title]'
    .control-group
      %label.control-label{:for => "schedule_description"} Descripción
      .controls
        = text_area_tag 'schedule[description]', nil, :cols => 20, :rows => 5
    .control-group
      %label.control-label{:for => "schedule_date"} Fecha y hora del evento
      .controls
        = text_field_tag 'schedule[date]', '', :class => 'datetimepicker'
    .control-group
      %label.control-label{:for => "schedule_reminder_date"} Fecha y hora del recordatorio
      .controls
        = text_field_tag 'schedule[reminder_date]', nil, :class => 'datetimepicker-reminder', :disabled => true
    .control-group
      %label.control-label{:for => "schedule_category_id"} Categoría
      .controls
        = select_tag 'schedule[category_id]', options_from_collection_for_select(@categories, "id", "name"), :prompt => "Selecciona una categoría"
    = hidden_field_tag 'schedule[user_id]', current_user.id
    .form-actions
      = submit_tag "Crear", :class => 'btn btn-success'
      = link_to "Cancelar", :back, :class => 'btn btn-success'