%p Puedes iniciar sesión usando tu cuenta de Google
= link_to "Google", user_omniauth_authorize_path(:google)
= link_to "Facebook", user_omniauth_authorize_path(:facebook)
%p o, si ya tienes una cuenta en Te Agendamos, usa tu correo y contraseña
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.email_field :email, :class => "span3", :placeholder => "Correo Electrónico"
  %p
    = f.password_field :password, :class => "span3", :placeholder => "Contraseña"
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label "Recordarme"
  %div= f.submit "Ingresar", :class => "btn btn-success"
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to "Olvidaste tu contraseña?", new_password_path(resource_name)